#trackmage-shipment-tracking {
  .inside {
    margin: 0;
    padding: 0;

    .shipments {
      &__table {
        width: 100%;
      }

      &__thead {
        &__th {
          text-align: left;
          padding: 1em;
          font-weight: 400;
          color: #999;
          background: #f8f8f8;

          &:first-child {
            padding-left: 2em;
          }

          &:last-child {
            padding-right: 2em;
          }

          &--shipment {
            width: 20%;
          }

          &--status {
            width: 15%;
          }

          &--carrier {
            width: 15%;
          }

          &--items {
            width: 40%;
          }

          &--actions {
            width: 10%;
          }
        }
      }

      &__tbody {
        tr {
          td {
            padding: 1.5em 1em 1em;
            text-align: left;
            line-height: 1.5em;
            vertical-align: top;
            border-bottom: 1px solid #f8f8f8;

            &:first-child {
              padding-left: 2em;
            }

            &:last-child {
              padding-right: 2em;
            }
          }

          &:last-child {
            td {
              border-bottom: 1px solid #dfdfdf;
            }
          }
        }

        .shipment {
          &:hover {
            &__actions__wrap {
              visibility: visible;
            }
          }

          &__items {
            ul {
              margin: 0;
            }
          }

          .shipment__actions {
            &__wrap {
              width: 62px;
              text-align: right;
              padding-left: 0;
              vertical-align: middle;
              visibility: hidden;
            }

            &__action {
              color: #ccc;
              display: inline-block;
              cursor: pointer;
              padding: 0;
              margin: 0;
              vertical-align: middle;
              text-decoration: none;
              line-height: 18px;
              width: 18px;
              height: 18px;
              font-size: 18px;
              overflow: hidden;

              &:hover:before {
                color: #999;
              }

              &--delete:hover:before {
                color: #a00;
              }

              &:before {
                font-family: Dashicons;
                speak: none;
                font-weight: 400;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                text-indent: 0px;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                text-align: center;
                position: relative;
                font-variant: normal;
                margin: 0px;
                content: "";
              }

              &--edit:before {
                content: "\f464";
              }

              &--delete:before {
                content: "\f335";
              }
            }
          }

          &:hover {
            .shipment__actions {
              &__wrap {
                visibility: visible;
              }
            }
          }
        }
      }
    }

    .add-shipment,
    .edit-shipment {
      border-bottom: 1px solid #dfdfdf;
      padding: 1.5em 2em;
      background: #f8f8f8;
      line-height: 2em;

      .items {
        &__row {
          margin-bottom: 6px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
        &__product {
          width: 45%;
          float: left;
          line-height: 1;
          padding-right: 10px;
          box-sizing: border-box;
        }

        &__qty {
          width: 45%;
          float: left;
          line-height: 1;
          padding-right: 10px;
          box-sizing: border-box;
        }

        &__delete {
          width: 10%;
          float: left;
          line-height: 1;
          padding: 5px 0;

          .btn-delete {
            cursor: pointer;

            &:before {
              font-family: Dashicons;
              speak: none;
              font-weight: 400;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              text-indent: 0px;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              font-size: 20px;
              color: #ccc;
              text-align: center;
              position: relative;
              font-variant: normal;
              margin: 0px;
              content: "\f335";
            }

            &:hover:before {
              color: #a00;
            }
          }
        }

        &__btn-add-row {
          margin-top: 6px;
        }
      }
    }

    .actions {
      border-bottom: 1px solid #dfdfdf;
      padding: 1.5em 2em;
      background: #f8f8f8;
      line-height: 2em;

      .right {
        float: right;

        .button {
          margin-left: 0.25em;
        }
      }

      .left {
        float: left;

        .button {
          margin-right: 0.25em;
        }
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
}
